
<div class="container text-white bg-secondary">
  <h1 class="text-center text-info"> Lista de Productos </h1>
    <div class="row">
      <div *ngFor="let producto of productos" class="col-md-4 mb-3">
        <div class="card">
          <img [src]="producto.imagen" class="card-img-top" alt="{{ producto.nombre }}">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <a [routerLink]="['/producto', producto.id]" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  